#myheading {
  background-color: lightblue;
  color: black;
  padding: 40px;
  text-align: center;
}
.flex-container{
	display: flex;
	flex-wrap:wrap;
	justify-content:center;
}
img{
	width:450px;
	height:350px;
	margin:5px;
	
	box-shadow:10px 10px 10px #ff1a1a;
	transition-property: opacity, left;
  transition-duration: 3s, 5s;
}
img:hover{

 -webkit-transform: scale(0.5) rotate(80deg);
        transform: scale(0.5) rotate(80deg);
}

p{
	 border: 2px solid powderblue;
	width:400px;
	text-align:center;
text-size
border-right :2px solid orange;}
